a:link {
    text-decoration: none;
}

#lista img,
#lista-widescreen img {
    height: 25px;
    width: 25px;
}

#detalle,
#detalle-widescreen {
    background: url("../img/grass.jpg");
    color: #FFFFFF;
    font-size: 120%;
}

#detalle h3,
#detalle-widescreen h3 {
    font-size: 150%;
    margin-top: 5%;
}

#detalle img,
#detalle-widescreen img {
    width: 35%;
}

#detalle h3 img,
#detalle-widescreen h3 img {
    width: 20%;
}

#formulario {
    background: #9ccd9e;
}

#formulario h2 {
    font-size: 150%;
}

#events h2 {
    font-size: 150%;
}

#events h3 {
    font-size: 110%;
}

#events p {
    text-indent: 3%;
}

.oculto {
    display: none;
}

@media (orientation: landscape) {
    #lista-aheadback {
        display: none;
    }
}

@media (orientation: portrait) {
    #listaydetalle-widescreen {
        display: none;
    }
}